body {
	background: lightblue;
}

h1 {
	text-align: center;
}

#game {
	height: 80vh;
	width: 80vh;
	margin: 0 auto;
	border: solid black 4px;
}

.row {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.tile {
	height: 9.5vh;
	width: 9.5vh;
	background: green;
	border: black solid 2px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.token {
	border-radius: 8vh;
	width: 8vh;
	height: 8vh;
	border: solid black 2px;
	margin: 0 auto;
}

#game-options {
	width: 60vh;
	margin: 0 auto;
}